# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
/gradlew
/gradlew.bat
/gradle
gradle.properties

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

# Not generated resources
/src/generated/